body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main {
    margin: 10px;
    padding: 10px;
}
nav {
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    background-color: lightblue;
    a {
    color: black;
    border-radius: 5px;
    margin: 0.5%;
    padding: 1.5%;
    text-decoration: none;
    transition: 0.2s ease-out;
    }
    a:hover {
        background-color: lightskyblue;
        font-weight: bolder;
    }
    a:visited{
        color: black;
    }
    a:focus {
        color: darkslategray 
    }
}
footer {
    font-size: 14px;
    color: slategray;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    
}
.download-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}
.download-link {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.download-link:hover {
    text-decoration: underline;
    font-weight: bolder;
}
.download-link:visited{
    color: black;
}
.download-link:focus {
    color: darkslategray 
}
.resume {
    border: solid;
    width: 100%;
    overflow: auto;
    display:flex;
    border-radius: 15px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}