body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
nav {

    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    background-color: lightblue;
    .banner {
        width: 100%;
        height: 50px;
    }
    a {
    color: black;
    border-radius: 5px;
    margin: 0.5%;
    padding: 1.5%;
    text-decoration: none;
    transition: 0.2s ease-out;
    }
    a:hover {
        background-color: lightskyblue;
        font-weight: bolder;
    }
    a:visited{
        color: black;
    }
    a:focus {
        color: darkslategray 
    }
}
main {
    margin: 10px;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        text-align: center;
        font-size: 36px;
        margin-top: 0px;
    }
    article {
        max-width: 772px;
        font-size: 18px;
        line-height: 1.6;
        padding-left: 15px;
        padding: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: 15px;
        background-color: lightgray;
        border-color: grey;
        border-style: solid;
        border-width: 3px;
    }
    /* Resume section styles */
    .download-container {
        width: 100%;
        background-color: lightgray;
        padding: 10px;
        border-radius: 15px;
        margin-top: 15px;
        max-width: 772px;
        .download-link {
            display: inline-block;
            text-decoration: none;
            color: black;
            width: 100%;
            text-align: center;
            font-size: 20px;
        }
        .download-link:hover {
            text-decoration: underline;
            font-weight: bolder;
        }
        .download-link:visited{
            color: black;
        }
        .download-link:focus {
            color: darkslategray 
        }
    }
    .resume-container {
        .resume {
            border: solid;
            width: 100%;
            overflow: auto;
            display:flex;
            border-radius: 15px;
            max-height: 1000px;
            max-width: 772px;
        }
    }
}
footer {
    font-size: 14px;
    color: slategray;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    
}
