body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}
main {
    margin: 10px;
    padding: 10px;
}
nav {
    height: auto;
    margin: auto;
    align-content: center;
    padding-right: 23px;
    margin-bottom: 10px;
    overflow: auto;
    white-space: nowrap;
    overflow: visible; 
    white-space: normal; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 22px;
    background-color: lightblue;
    a {
    color: black;
    border-radius: 5px;
    margin: 0.5%;
    padding: 1.5%;
    text-decoration: none;
    transition: 0.2s ease-out;
    }
    a:hover {
        background-color: lightskyblue;
        font-weight: bolder;
        transition: 0.3s ease-in-out;
    }
    a:visited{
        color: black;
    }
    a:focus {
        color: darkslategray 
    }
}
.download-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

.download-link {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 100%;
    text-align: center;
}
.download-link:hover {
    text-decoration: underline;
    font-weight: bolder;
    transition: 0.3s ease-in-out;
}

.resume {
    border: solid;
    width: 100%;
    overflow: auto;display:flex;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

